.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}
.col {
    flex: 1;
    margin-right: 20px;
}
.card {
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.category {
    font-size: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}
.category .category-name  {
    color: #7c7c7c;
}
.category button i {
    font-size: 26px;
}
.iconpicker {
    width: 90px;
    vertical-align: middle;
    padding: 0 10px 0 10px;
    background-color: #f3f3f3;
    height: 22px;
    font-size: 13px;
    padding: 9px 10px 8px 10px;
    border: solid 1px #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none;
    color: #616161;
    height: 46px;
}
.iconpicker:hover {
    background-color: #e9e9e9;
}
#main-icon {
    float: left;
}
#caret {
    float: right;
    font-size: 14px;
    position: relative;
    top: 4px;
    color: #b0b0b0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 280px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#icons-dropdown {
    padding: 10px;
}
#icons-search {
    min-width: 284px;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}
.search-input-icon {
    position: absolute;
    top: 24px;
    font-size: 18px;
    left: 24px;
    color: #a6a5a5;
}
.dropdown-content a:hover {
    background-color: #ddd;
    }

.show {
    display: block;
    }

.icon-select {
    font-size: 20px;
}
.icons-table {
    padding: 10px 0 0 0;
}
.icons-table tbody {
  display: block;
  max-height: 200px;
  overflow-y: scroll;
}

.icons-table thead,tbody tr {
    display: table;
    width: 100%;
    padding: 4px;
    background-color: #e9e9e9;
}
.icons-table thead {
  width: calc( 100% - 1.1em );
}
#submit{
    width: 100%;
    margin-top: 20px;
}
.header {
    text-align: center;
    font-weight: 400;
    color: #7c7c7c;
}
.the-guy {
    text-align: center;
    margin-top: 10px;
}